<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OutlookAddIn1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OutlookAddIn1.Properties.Settings>
            <setting name="HelpdeskEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="NoCloseConf" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NoAssignConf" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CloseMsg" serializeAs="String">
                <value>False</value>
            </setting>
        </OutlookAddIn1.Properties.Settings>
    </userSettings>
</configuration>